<!DOCTYPE html>
<html>
<head>
  <title>Tous les potins</title>
</head>
<body style="background-color: rgb(173, 216, 230);">
<h1>Voici tous les gossips :</h1>
<% gossips.each_with_index do |gossip, index| %>
    <p>
      <a href="/gossips/<%= index%>"><%= gossip.author %><br/>
      <%= gossip.content %>
      </a>
    </p>
  <% end %>  
  </body>
</html>